:root {
    --git-orange: #F05032;
    --git-dark: #24292e;
    --git-bg: #f6f8fa;
    --git-border: #e1e4e8;
    --text-main: #2f363d;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    margin: 0;
    line-height: 1.6;
    color: var(--text-main);
    background-color: #fff;
}

header {
    background: var(--git-dark);
    color: white;
    padding: 3rem 1rem;
    text-align: center;
    border-bottom: 6px solid var(--git-orange);
}

.header-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.git-logo-header {
    width: 65px;
    height: 65px;
    fill: var(--git-orange);
    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    filter: drop-shadow(0 0 8px rgba(240, 80, 50, 0.4));
}

/* EFEK GOYANG SAAT HOVER */
.git-logo-header:hover {
    transform: rotate(-10deg) scale(1.1);
}

.container {
    max-width: 850px;
    margin: 40px auto;
    padding: 0 20px;
}

.segment {
    border: 1px solid var(--git-border);
    border-radius: 12px;
    margin-bottom: 20px;
    overflow: hidden;
    background: white;
}

.segment-header {
    background: var(--git-bg);
    padding: 18px 25px;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}

.segment-content {
    padding: 25px;
    display: none;
    border-top: 1px solid var(--git-border);
    animation: fadeIn 0.3s ease;
}

.active .segment-content { display: block; }
.active .segment-header { color: var(--git-orange); background: #fff; }

.term-box {
    background: #fff5f2;
    border-left: 5px solid var(--git-orange);
    padding: 15px;
    margin: 20px 0;
}

.industrial-case {
    border: 1px solid var(--git-border);
    border-top: 4px solid #0366d6;
    padding: 20px;
    border-radius: 8px;
    background: #fcfcfc;
}

.case-title { font-weight: bold; color: #0366d6; margin-bottom: 10px; }

.terminal-sim {
    background: #1b1f23;
    color: #e6edf3;
    padding: 15px;
    border-radius: 8px;
    font-family: 'Courier New', monospace;
    font-size: 0.9rem;
}

button {
    background: var(--git-dark);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover { background: var(--git-orange); }

pre {
    background: #1b1f23;
    color: #a5d6ff;
    padding: 15px;
    border-radius: 8px;
}

.code-kw { color: #ff7b72; }
.code-comment { color: #8b949e; }

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(5px); }
    to { opacity: 1; transform: translateY(0); }
}