:root {
    --git-orange: #F05032;
    --git-dark: #24292e;
    --git-bg: #f6f8fa;
    --git-border: #e1e4e8;
    --git-blue: #0366d6;
    --text-main: #2f363d;
    --code-bg: #1b1f23;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    line-height: 1.6;
    color: var(--text-main);
    margin: 0;
    background-color: #ffffff;
}

header {
    background: var(--git-dark);
    color: white;
    padding: 3rem 1rem;
    text-align: center;
    border-bottom: 6px solid var(--git-orange);
}

.header-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 5px;
}

.git-logo-header {
    width: 55px;
    height: 55px;
    fill: var(--git-orange);
    filter: drop-shadow(0 0 5px rgba(240, 80, 50, 0.4));
}

.git-logo-header:hover {
    transform: rotate(-10deg) scale(1.1); /* Efek sedikit goyang saat di-hover */
}

header h1 { margin: 0; font-size: 2.5rem; }
header p { opacity: 0.8; font-weight: 300; }

.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
}

.segment {
    background: white;
    margin-bottom: 15px;
    border: 1px solid var(--git-border);
    border-radius: 8px;
    overflow: hidden;
}

.segment-header {
    background: var(--git-bg);
    padding: 15px 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: var(--git-dark);
}

.segment-content {
    padding: 25px;
    display: none;
    border-top: 1px solid var(--git-border);
    animation: fadeIn 0.3s ease;
}

.active .segment-content { display: block; }
.active .segment-header { border-bottom: 2px solid var(--git-orange); background: #fff; }

.term-box {
    background: #fff5f2;
    border-left: 5px solid var(--git-orange);
    padding: 15px;
    margin: 15px 0;
    border-radius: 4px;
}

.industrial-case {
    background: white;
    border: 1px solid var(--git-border);
    border-top: 4px solid var(--git-orange);
    padding: 20px;
    border-radius: 6px;
    margin-top: 20px;
}

.case-title { font-weight: bold; color: var(--git-dark); margin-bottom: 10px; }

.interactive-demo input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--git-border);
    border-radius: 4px;
}

pre {
    background: var(--code-bg);
    color: #e6edf3;
    padding: 15px;
    border-radius: 6px;
    overflow-x: auto;
}

.code-kw { color: #ff7b72; }
.code-st { color: #a5d6ff; }
.code-comment { color: #8b949e; }

.btn-back {
    display: inline-block;
    margin-top: 20px;
    color: var(--git-blue);
    text-decoration: none;
    font-weight: bold;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(5px); }
    to { opacity: 1; transform: translateY(0); }
}