$primary-color:red;
$secondary-color: orange;
$font-size: 18px;

@mixin center-element{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    @include center-element();

    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0;

    .container{
        background-color: white;
        padding: 30px;
    }
}