@import '_root';

@mixin center-element{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    @include center-element();

    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f9;
    align-items: center;
    min-height: 100vh;
    margin: 0;

    .container{
        background-color: $background-color;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 4p 8px rgba(0,0,0,0.1);
        width: 90%;
        width: 450px;
        text-align: center;
        h2{
            color: #333;
            margin-bottom: 30px;
            font-size: 1.5rem;
        }
        .input-group{
        margin-bottom: 20px;
        text-align: left;
        }
        label{
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
            color: #555;
        }
        select, button{
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #cccccc;
            box-sizing: border-box;
            font-size: 1em;
        }
        button{
            background-color: $button-color;
            color: $background-color;
            cursor: pointer;
            margin-top: 10px;
            transition: background-color 0.3s;
        }
        button:hover:not(:disabled){
            background-color: #0056b3;
        }
        button:disabled{
            background-color: $button-disabled;
            cursor: not-allowed;
        }
        select:disabled{
            background-color: #eee;
        }
    }
}