body{
    font-family: poppins;
    margin: 0;
    padding: 0;

}
.container{padding-top: 80px;}
header{
    height: 80px;
    background-color: rgb(167, 2, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 10px;
    box-shadow: 0  0 18px 6px rgba(69, 1, 105, 0.667);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
h3{
    margin: 0;
    padding: 0;
}
.input-data{
    box-sizing: border-box;
    width: 100%;
    /* margin: 30px 0 0; */
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 20px;
    background-color: rgba(137, 43, 226, 0.185);
}
.input{font-weight: bold;}
.input-data p{
    align-items: center;
    margin: 0;
}
.input-form{
    display: flex;
    flex-direction: column;
}
.input-name, .input-score{
    box-sizing: border-box;
    display: flex; 
    align-items: center;
    margin: 0;
    padding: 20px;
}
.input-name p, .input-score p{
    width: 60px;
    
}
.input-name input, .input-score input{
    border: none;
    border-bottom: 2px solid rgb(104, 0, 165);
    font-size: 16px;
    height: 25px;
    border-radius: 5px;
    outline-color: rgb(104, 0, 165);
}
#caution{
    text-align: center;
}
.button-action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    width: 100%;
    margin: 5px 0 15px;
}
#add-data, #reset{
    width: 100%;
    height: 32px;
    border-radius: 8px;
    border: none;
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}
#add-data:hover, #reset:hover{
    transform: scale(1.04);

}

/* table */
.table-container, .statistik-container{
    /* box-sizing: content-box; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100%;
    padding: 20px 0; */
    background-color: rgba(237, 237, 237, 0.653);

    margin: 35px;
    border-radius: 15px;
    padding: 0 0 30px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.table-container p{text-align: center;}
#output-data{
    width: 100%;
}
#table-wrap{
    border: 1px solid rgb(104, 0, 165);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 0;
    overflow: hidden;
}
.student-table{
    /* border: 2px solid #ddd; */
    border: none;
    border-collapse: collapse;
    overflow: hidden;
    width: 100%;
    margin: 0;
    /* padding: 20px; */
    padding: 0;
}
th, td{
    border: 1px solid rgb(104, 0, 165);
    padding: 5px;
    margin: 0;
    text-align: center;
}
th{
    background-color: blueviolet;
    color: white;
}
tr:nth-child(even){background-color: rgba(137, 43, 226, 0.178);}
tr:hover{background-color: rgba(137, 43, 226, 0.45);}

@media (min-width: 768px){
    .container{
        display: grid;
        grid-template-columns: repeat(5, 1f);
        grid-template-rows: repeat(5, 1f);
        grid-template-areas:
        "header  header header"
        "input tabledata tabledata"
        "input statistik statistik";
    }

    header{grid-area: header;}
    .input-data{grid-area: input;}
    .table-container{grid-area: tabledata;}
    .statistik-container{grid-area: statistik;}
    .container{
        padding-top: 20px;
        min-height: 100vh;
    }
    .input-data{
        height: 100%;
    }
    .button-action{
        flex-direction: column;
        justify-content: center;
    }
    .statistik-container{
        margin-top: 0;
    }
}